<a href="https://colab.research.google.com/github/xHexlabx/Python/blob/main/Basic_for_python_programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Class and Inheritance

In [ ]:
class Person :

    def __init__(self , fullname , surname)  :

        self.fullname = fullname 
        self.surname = surname 

    
    def display(self):
        print(self.fullname , self.surname)

In [ ]:
Neen = Person("Neen" , "Saereerak")
Neen.display()

In [ ]:
class Student(Person) :

    def __init__(self , fullname , surname) :
        super().__init__(fullname , surname)

In [ ]:
Tokyo = Student("Tee" , "Hemjinda")
Tokyo.display()

In [ ]:
%pwd

In [ ]:
%ls

# Numpy

In [ ]:
!pip install numpy

In [ ]:
import numpy as np

In [ ]:
arr = np.array(15)

In [ ]:
arr

In [ ]:
arr = np.array([1 , 2 , 3 , 4 , 5])

In [ ]:
arr

In [ ]:
arr.ndim

In [ ]:
arr = np.array([ [1, 2 ,3 , 4] , [1, 2 , 3 , 4]])

In [ ]:
arr

In [ ]:
arr.ndim

In [ ]:
arr = np.array([1, 2, 3, 4], ndmin=5)
print(arr)
print('number of dimensions :', arr.ndim)

In [ ]:
arr = np.array([ [1,2,3] , [1,2,3]] )
print(arr)

In [ ]:
arr[1][0]

In [ ]:
arr = np.array([1 , 2 , 3 , 4, 5])
arr[0:5]

In [ ]:
arr = np.array([10, 15, 20, 25, 30, 35, 40])

print(arr[1:4:2])

In [ ]:
print(arr[0:7:3])

In [ ]:
arr[:2]

In [ ]:
arr = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]])

print(arr[1, 1:4])

In [ ]:
arr = np.array([1 , 2 , 3 , 4 ,5])
x = arr.view()
arr[0] = 10

In [ ]:
print(arr , x)

In [ ]:
arr = np.array([1 , 2 , 3 , 4 ,5])
x = arr.copy()
arr[0] = 10

In [ ]:
print(arr , x)

In [ ]:
arr = np.array([1, 2, 3, 4, 5])

x = arr.copy()
y = arr.view()
y[1] = 10
print(x.base)
print(y.base)
print(arr.base)

In [ ]:
arr = np.zeros([3 , 4])
arr

In [ ]:
arr = np.arange(0 , 9)
arr

In [ ]:
arr.reshape(1 , 3 , 3)

In [ ]:
arr = np.linspace(1 , 5 , 10)

In [ ]:
arr

In [ ]:
arr = np.array([[1 , 1] , [1 , 0]])
arr

In [ ]:
arr.dot(arr).dot(arr).dot(arr)

In [ ]:
arr = np.arange(1 , 10)
arr = arr.reshape(3 , 3)

In [ ]:
arr[0].max()

# args , kwargs

In [ ]:
def func (*args) :
  for i in args :
      print(i)

In [ ]:
func("Hello" , "My" , "Name" , "IS" , "Tokyo")

Hello
My
Name
IS
Tokyo

In [ ]:
def func(x  , y) :
  print(x , y)

func(y = 2 , x = 1)

1 2

In [ ]:
def func(*x , y):
  for i in x :
    print(i , end = ' ')
  print(y)

In [ ]:
func(1 , 2  , 3 , 4)

TypeError: ignored

In [ ]:
func(1 , 2 , 3 , y = 4)

1 2 3 4

In [ ]:
def func (**x) :

  name  = x['Tokyo']
  print(name)

func( Tokyo = 1 , Neen = 2 )

1

In [ ]:
#default when have no keyword

def func (**x) :

  name  = x.get('Tokyo' , 10)
  print(name)

func(   Neen = 2 )

10

In [ ]:
x = [ (1 , 2) , (3 , 4)]

for a , b in x :
  print(a , b)

1 2
3 4